$odin-blue: #00A8B6;
$odin-red: #CC4F49;

.input-field {
  margin-top: 20;
  width: 100%;

  Label {
    font-size: 16;
    color: #cccccc;
  }

  .input {
    font-size: 16;
    border-width: 1;
    border-color: rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.1);
    border-radius: 8;
    margin-top: 10;
    placeholder-color: rgba(255, 255, 255, 0.25);
    padding: 15 10;
    color: $odin-blue;

    transition: all 300ms ease-in-out;
  }

  &.focused {
    .input {
      border-color: $odin-blue;
    }
  }

  &.error {
    .input {
      border-color: $odin-red;
    }
  }

  &.disabled {

    .input {
      opacity: 0.6;
    }

    &.focused {
      .input {
        border-color: rgba(255,255,255,0.1);
      }
    }
  }
}

.copy-wrap {
  background-color: rgba(255,255,255,0.1);
  width: 45;
  height: 52;
  transform: translate3d(-1, -1, 0);
  border-radius: 0 8 8 0;
  
  Label {
    font-size: 20;
  }
}
