<GridLayout class="page" rows="*" columns="*">
  
  <ScrollView row="1" class="overview">

    <GridLayout class="view" rows="auto, *, 10">

      <!-- <ContentView row="0" class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Fresh ODIN address"></Label>
          <Label class="body help font-sm" textWrap="true" text="For optimal security, we will generate a new ODIN address after a previous address has been used. They are all still associated with your Identity seed and aren't lost."></Label>
        </StackLayout>
      </ContentView> -->
      
      <StackLayout row="0" class="addresses">
        <StackLayout class="header header--help" [class.active]="freshAddressHelp" (tap)="freshAddressHelp = !freshAddressHelp">
          <FlexboxLayout class="header--help-label">
            <Label class="h2" text="Fresh address"></Label>
            <Label class="fa icon" text="&#xf059;"></Label>
          </FlexboxLayout>
          <Label class="header--help-content" textWrap="true" text="For optimal security, we will generate a new ODIN address after a previous address has been used. They are all still associated with your Identity seed and aren't lost."></Label>
        </StackLayout>

        <StackLayout class="address" (tap)="onCopyText(freshAddress?.address)">
          <Label textWrap="true" class="address--hash" [text]="freshAddress?.address"></Label>

          <GridLayout cols="auto,*">
            <Label col="0" class="address--meta">
              <FormattedString>
                <Span class="address--last-used-label" text="Never used"></Span>
              </FormattedString>
            </Label>
            <ContentView col="1" class="address--copy">
              <Label text="&#xf24d;" class="fa u-text-align-right"></Label>
            </ContentView>
          </GridLayout>
        </StackLayout>
      </StackLayout>

      <StackLayout row="1" class="addresses">
        <StackLayout class="header header--help" [class.active]="usedAddressHelp" (tap)="usedAddressHelp = !usedAddressHelp">
          <FlexboxLayout class="header--help-label">
            <Label class="h2" text="Used addresses"></Label>
            <Label class="fa icon" text="&#xf059;"></Label>
          </FlexboxLayout>
          <Label class="header--help-content" textWrap="true" text="These are addresses you have used in the past and may continue to use if you wish."></Label>
        </StackLayout>

        <RadListView [items]="currentWallet?.addresses$">
          <ng-template tkListItemTemplate let-item="item" let-i="index">
            <ContentView></ContentView>
            <!-- <StackLayout>
              <Label>
                <FormattedString>
                  <Span text="Address:"></Span>
                  <Span [text]="item.address"></Span>
                </FormattedString>
              </Label>
            </StackLayout> -->
          </ng-template>
        </RadListView>

        <RadListView [items]="currentWallet?.addresses$" [filteringFunction]="usedAddressFilter">
          <ng-template tkListItemTemplate let-item="item" let-i="index">
            <StackLayout class="address" (tap)="onCopyText(item.address)">

              <FlexboxLayout class="address--hash-wrap">
                <Label textWrap="true" class="address--hash" [text]="item.address"></Label>
                <Label class="fa" text="&#xf24d;"></Label>
              </FlexboxLayout>

              <GridLayout cols="auto,*" rows="auto">
                <Label col="0" row="0" class="address--meta">
                  <FormattedString>
                    <Span class="address--last-used-label" text="Last used"></Span>
                    <Span class="address--last-used-label" text=" – "></Span>
                    <Span class="address--last-used-time" [text]="item.last_tx_timestamp | relativeTime"></Span>
                  </FormattedString>
                </Label>
                <ContentView col="1" row="0" class="address--amount">
                  <Label class="u-text-align-right" [text]="item.balance_conf | satoshiValueConverter"></Label>
                </ContentView>
              </GridLayout>
            </StackLayout>
          </ng-template>
        </RadListView>
      </StackLayout>

    </GridLayout>
  </ScrollView>
      
</GridLayout>
