@import "~/app-variables";

/**
  Addresses
*/
.addresses {
  width: 90%;

  .header {
    margin-left: 10;
    margin-bottom: 15;
  }

  .h2 {
    font-size: 20;
  }

  .p {
    font-size: 12;
  }
}

.address {
  padding: 0 0 20;
  margin: 0 0 20;
  border-color: $hr-light-color;
  border-bottom-width: 1;
}

.address--hash {
  font-size: 14;
  margin-bottom: 10;
}

.address--hash-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.address--meta {
  font-size: 12;
  margin-right: 10;
}

.address--amount,
.address--copy {
  font-size: 14;
  font-weight: bold;
}
