@import "~/app-variables.scss";

.view {
  background-color: $odin-green;

  .header {
    background-color: $odin-green;
  }

  .screen {
    border-radius: 0 50% 0 0;
    background-color: $odin-dark;
  }

  .container {
    padding-left: 20;
    padding-right: 20;
  }

  .friend {
    width: 150;
    transform: translate3d(0, -25, 0);
  }

  .saveBtn {
    font-size: 14;
    height: 40;
    width: 80;
    margin-right: 20;
    margin-top: 10;
    background-color: transparent;
    border-color: $odin-white;
    border-width: 1;
    color: $odin-white;
    border-radius: 4;
  }
}
