<GridLayout class="page" *ngIf="user.saveData.registered" cols="*" rows="60, *, auto">

  <FlexLayout class="header-wrap" row="0">
    <Label class="header-bar" textWrap="true" text="ODIN Account Active"></Label>
  </FlexLayout>
    
  <ScrollView row="1">
    <StackLayout>
      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="body" textWrap="true" text="Your ODIN Identity has been registered!"></Label>
          <Label class="body" textWrap="true">
            <FormattedString>
              <Span text="Your public identity is "></Span>
              <Span class="bold" [text]="user.saveData.hashAccount"></Span>
              <Span text="."></Span>
            </FormattedString>
          </Label>
          <Label class="body" textWrap="true" text="You can share this username with others and begin conversing securely."></Label>
        </StackLayout>
      </ContentView>

      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="body" textWrap="true" text="All messages are end-to-end encrypted and stored in a secure location. Upon receipt of a message, the original package will be purged."></Label>
          <Label class="body last" textWrap="true" text="Please remember this is an early Alpha release of the ODIN Messenger. You may experience service distruption and/or drastic changes. Thank you for helping test our secure messanger."></Label>
        </StackLayout>
      </ContentView>

      <ContentView class="actions">
        <StackLayout>
          <Button class="btn btn-outline" text="Copy Identiy to Clipboard" (tap)="onCopyText(user.saveData.hashAccount)"></Button>
          <Button class="btn btn-primary" text="Go to Messages" [nsRouterLink]="['/messages']" clearHistory="true"></Button>
        </StackLayout>
      </ContentView>
    </StackLayout>
  </ScrollView>
</GridLayout>

<GridLayout class="page" *ngIf="!user.saveData.registered" cols="*" rows="60, *, auto, auto">

  <FlexLayout class="header-wrap" row="0">
    <Label class="header-bar" textWrap="true" text="Create ODIN Account"></Label>
    <!-- <FlexboxLayout class="waves">
      <Image height="10" width="100" src="res://odin_waves_white"></Image>
      <Image marginLeft="-20" height="10" width="100" src="res://odin_waves_white"></Image>
    </FlexboxLayout> -->
  </FlexLayout>
  
  <ScrollView row="1" *ngIf="activeStep === 1">
    <StackLayout>
      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Generate Master Seed"></Label>
          <Label class="body" textWrap="true" text="To start with your account creation you'll need to generate a &#34;Master Seed&#34;."></Label>
          <Label class="body last" textWrap="true" text="This seed will be used to create a unique ODIN wallet as well as a username for the messenger. You'll be able to back up and restore your account through this seed.&nbsp;"></Label>
        </StackLayout>
      </ContentView>

      <ContentView class="card card--input" (touch)="onTouch($event)">
        <StackLayout class="card-content">
          <Label *ngIf="!mnemonicSaved" class="h2" textWrap="true" text="{{ seeder.get('seedCount') }} / {{ seeder.get('seedLimit') }}"></Label>
          
          <StackLayout  *ngIf="!seeder.get('poolBusy')">
            <Label textWrap="true" class="body" text="Move your finger around to begin generating."></Label>
            <AbsoluteLayout padding="10">
              <Image horizontalAlignment="center" class="swipeFinger" width="50" height="60" src="res://swipe_finger_white"></Image>
            </AbsoluteLayout>
          </StackLayout>
          
          <Label *ngIf="!mnemonicSaved && seeder.get('poolBusy')" class="seedPool" textWrap="true" text="{{ seeder.get('poolHex') }}"></Label>

          <Label *ngIf="mnemonicSaved" textWrap="true" text="Master seed generated and stored."></Label>
        </StackLayout>
      </ContentView>

      <StackLayout class="actions">
        <Button *ngIf="mnemonicSaved" class="btn btn-primary" text="Continue" (tap)="onAdvanceStep(2)"></Button>
      </StackLayout>
    </StackLayout>
  </ScrollView>

  <ScrollView row="1" *ngIf="activeStep === 2">
    <StackLayout>
      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Backup your Master Seed"></Label>
          <Label class="body" textWrap="true" text="Your Master Seed has been hashed and shortened to be uniquely represented as 12 random words. This collection is known as a &#34;Mnemonic Phrase&#34;."></Label>
          <Label class="body" textWrap="true" text="Mnemonic Phrases allow users to backup important information in a more meaningful context versus a mix of letters and numbers."></Label>
          <Label class="body last" textWrap="true" text="Store this information, in the exact order, in a safe place and click Continue when you are ready."></Label>
        </StackLayout>
      </ContentView>

      <StackLayout class="actions">
        <Button class="btn btn-outline" text="Copy to Clipboard" (tap)="onCopyText(user.saveData.mnemonicPhrase)"></Button>
        <Button class="btn btn-primary" text="Continue" (tap)="onAdvanceStep(3)"></Button>
      </StackLayout>
    </StackLayout>
  </ScrollView>
  
  <ScrollView row="1" *ngIf="activeStep === 3">
    <StackLayout>

      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Verify your Mnemonic Phrase"></Label>
          <Label class="body" textWrap="true" text="Before we create your account please ensure you have backed up the correct Mnemonic Phrase."></Label>
          <Label class="body" textWrap="true" text="If you don't wish to verify you will assume the risk of losing access to your account and/or funds in the future."></Label>
          <Label class="body last" textWrap="true" text="Lost accounts or funds cannot be restored and your identity information is only locally stored within your device."></Label>
        </StackLayout>
      </ContentView>

      <ContentView class="card card--input">
        <StackLayout class="card-content">
          <TextView height="80" textWrap="true" [(ngModel)]="verifyBackupPhrase" returnKeyType="next" (returnPress)="onAdvanceStep(4)" class="input input-border" hint="Please enter your mnemonic phrase..."></TextView>
        </StackLayout>
      </ContentView>

      <StackLayout class="actions">
        <Button class="btn btn-primary" text="Continue" (tap)="onAdvanceStep(4)"></Button>
        <Button class="btn btn-outline" text="Skip Verification" (tap)="onSkipVerifyMnemonic()"></Button>
      </StackLayout>
        
    </StackLayout>
  </ScrollView>

  <ScrollView row="1" *ngIf="activeStep === 4">
    <StackLayout>

      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Register ODIN Account"></Label>
          <Label class="body" textWrap="true" text="Now that you have generated a unique master seed and backed up your Mnemonic Phrase you can now register with your unique username."></Label>
        </StackLayout>
      </ContentView>

      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="ODIN Identity"></Label>
          <Label class="body last" [text]="user.saveData.hashAccount"></Label>
        </StackLayout>
      </ContentView>

      <StackLayout class="actions">
        <Button class="btn btn-primary" text="Register" (tap)="onRegisterAccount()"></Button>
      </StackLayout>

      <StackLayout class="agreements-wrap">
        <Label class="small" textWrap="true" text="By registering you agree to the following:"></Label>
        <FlexboxLayout class="agreements">
          <Label class="small link" text="Privacy Policy" (tap)="openPrivacy()"></Label>
          <Label class="small link" text="Terms of Service" (tap)="openTos()"></Label>
        </FlexboxLayout>
      </StackLayout>

    </StackLayout>
  </ScrollView>
  
</GridLayout>
