<ScrollView orientation="horizontal">
  <StackLayout class="wallets" orientation="horizontal">

    <AbsoluteLayout *ngFor="let wallet of wallets; index as i;" class="wallet" backgroundColor="#41C0D1" [class.active]="selectedWallet == i" (tap)="onSelectWallet(i)">
      <ContentView class="wallet--accent" backgroundColor="#F9F7F3"></ContentView>

      <ContentView class="wallet--logo">
        <Image [src]="wallet.coin.icon" height="200"></Image>
      </ContentView>

      <StackLayout class="wallet--meta">
        <Label class="wallet--label" textWrap="true" text="Default Wallet"></Label>
        <Label class="wallet--balance">
          <FormattedString>
            <Span [text]="wallet?.balance?.confirmed | satoshiValueConverter"></Span>
            <Span class="wallet--balance--symbol" text=" {{wallet.coin.coin}}"></Span>
          </FormattedString>
        </Label>
        <Label class="wallet--last-transaction-label" text="Latest Transaction"></Label>
        <Label class="wallet--last-transaction-time" [text]="wallet.lastTransaction | relativeTime"></Label>
      </StackLayout>
    </AbsoluteLayout>

    <AbsoluteLayout *ngIf="wallets.length" class="wallet wallet--add-new" backgroundColor="#41C0D1">
      <ContentView class="wallet--accent" backgroundColor="#F9F7F3"></ContentView>

      <StackLayout class="wallet--meta">
        <Label class="wallet--label" textWrap="true" text="Add New Wallet"></Label>
      </StackLayout>
    </AbsoluteLayout>

  </StackLayout>
</ScrollView>
