<ActionBar class="action-bar">
  <NavigationButton class="action-bar--button" android.systemIcon="ic_menu_revert" ios:visibility="collapsed" (tap)="onPreviousView()"></NavigationButton>
  <ActionItem text="Pull Messages" ios.position="popup" android.position="popup" (tap)="onFetchMessages()"></ActionItem>
  <ActionItem text="Edit Contact" ios.position="popup" android.position="popup" (tap)="onEditContact()"></ActionItem>
  <ActionItem text="Copy Username" ios.position="popup" android.position="popup" (tap)="onCopyContact()"></ActionItem>
  <Label class="action-bar--title" [text]="displayName()"></Label>
</ActionBar>

<GridLayout class="message-view" rows="*, auto">

  <RadListView row="0" #listView [items]="dataItems" [itemTemplateSelector]="messageTemplate" (loaded)="loadedEvent($event)" (dataPopulated)="populatedEvent($event)">
    <ng-template tkListItemTemplate let-item="item">
      <GridLayout class="message-wrap" columns="*" rows="auto" class="msg">
          <StackLayout [class]="" class="them" orientation="horizontal" [horizontalAlignment]="left">
            <Label text="default"></Label>
            <FlexboxLayout visibility="visible" class="author" col="1">
              <Label class="innerLabel bold" text="?"></Label>
            </FlexboxLayout>
            <Label [text]='item.id'></Label>
            <Label [text]='item.message' class="msg_text" textWrap="true" verticalAlignment="top"></Label>
            <Label [text]='item.delivered'></Label>
            <Label [text]='item.status'></Label>
          </StackLayout>
      </GridLayout>
      <!-- <StackLayout orientation="vertical">
        <Label text="default" class="nameLabel"></Label>
        <Label text="{{item | json}}" textWrap="true"></Label>
        <Label text="{{item.message}}" textWrap="true"></Label>
        <Label text="{{item.get('message')}}" textWrap="true"></Label>
      </StackLayout> -->
    </ng-template>

    <ng-template tkTemplateKey="contact" let-item="item">
      <GridLayout columns="*" rows="*, auto" class="message them">
        <StackLayout row="0" orientation="horizontal" horizontalAlignment="left">
          
          <FlexboxLayout visibility="visible" class="author" col="1">
            <Label class="innerLabel bold" text="{{ item?.contact_username[0].toUpperCase() }}"></Label>
          </FlexboxLayout>

          <StackLayout orientation="horizontal">
            <Label  [class.pending]="item.status === 'pending'"
                    [class.failed]="item.status === 'fail'"
                    [class.accepted]="item.status === 'accepted'"
                    class="message--bubble"
                    textWrap="true"
                    [text]="item.message"
                    (longPress)="onLongPressMessage(item)"
                    (tap)="onTapMessage(item)"
                    verticalAlignment="top">
            </Label>
            <Label *ngIf="item.status === 'fail'" style="margin-left: 10" class="fa error-icon" text="&#xf12a;" verticalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="item.status === 'fail'"  style="margin-top: 5" row="1" orientation="horizontal" horizontalAlignment="right">
          <Label style="margin-left: 10" class="error-text" text="Not Delivered" verticalAlignment="center"></Label>
        </StackLayout>

        <StackLayout style="margin-top: 5" row="1" orientation="horizontal" horizontalAlignment="right">
          <Label style="margin-left: 10" class="error-text" text="2019-08-02 23:50" verticalAlignment="center"></Label>
        </StackLayout>

        <StackLayout *ngIf="item.shouldDisplayTime" style="margin-top: 5" row="2" orientation="horizontal" horizontalAlignment="right">
          <Label style="margin-left: 10" class="info-text" [text]="item.timestamp | formatLocalTime" verticalAlignment="center"></Label>
        </StackLayout>

      </GridLayout>
    </ng-template>

    <ng-template tkTemplateKey="me" let-item="item">
      <GridLayout columns="*" rows="*, auto, auto" class="message me">
        
        <StackLayout row="0" orientation="horizontal" horizontalAlignment="right">
          <StackLayout orientation="horizontal">
            <Label  [class.pending]="item.status === 'pending'"
                    [class.failed]="item.status === 'fail'"
                    [class.accepted]="item.status === 'accepted'"
                    class="message--bubble"
                    textWrap="true"
                    [text]="item.message"
                    (longPress)="onLongPressMessage(item)"
                    (tap)="onTapMessage(item)"
                    verticalAlignment="top">
            </Label>
            <Label *ngIf="item.status === 'fail'" style="margin-left: 10" class="fa error-icon" text="&#xf12a;" verticalAlignment="center"></Label>
            <Label *ngIf="item.status === 'pending'" style="margin-left: 10" class="pending-icon" text="•••" verticalAlignment="center"></Label>
          </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="item.status === 'fail'" style="margin-top: 5" row="1" orientation="horizontal" horizontalAlignment="right">
          <Label style="margin-left: 10" class="error-text" text="Not Delivered" verticalAlignment="center"></Label>
        </StackLayout>

        <StackLayout *ngIf="item.shouldDisplayTime" style="margin-top: 5" row="2" orientation="horizontal" horizontalAlignment="right">
          <Label style="margin-left: 10" class="info-text" [text]="item.timestamp | formatLocalTime" verticalAlignment="center"></Label>
        </StackLayout>

      </GridLayout>
    </ng-template>
  </RadListView>

  <StackLayout row="1" #chatbox class="chatbox">
    <GridLayout class="chatbox--wrap" columns="*, auto">
      <TextField #textfield class="chatbox--input" row="0" col="0" [(ngModel)]="message" hint="Type a message..." returnKeyType="send" (returnPress)="sendMessage()"></TextField>
      <Button #btn class="chatbox--btn btn btn-primary" row="0" col="1" text="send" (tap)=sendMessage()></Button>
    </GridLayout>
  </StackLayout>

  <!-- <StackLayout  row="1" 
                #actionBox
                class="action-box"
                [class.active]="actionBoxActive"
                backgroundColor="red">
    <GridLayout columns="*, auto">
      <Button #btn class="chatbox--btn btn btn-primary" row="0" col="1" text="send" (tap)=sendMessage()></Button>
    </GridLayout>
  </StackLayout> -->
</GridLayout>
