@import "~/app-variables.scss";

ListView {
  separator-color: transparent;
}

.message-view {
  background-color: $dark-03;
  padding-top: 10;
}

.placeholder {
  height: 90%;
  color: $app-text-color;
}

.message-wrap {
  height: 0;
  background-color: $dark-03;

  &.active {
    height: 90%;
    padding: 5;
    padding-top: 10;
  }
}

.message {
  font-size: 14;
  padding-left: 15;
  padding-right: 15;
  padding-bottom: 15;

  .message--bubble {
    color: #ffffff;
    background-color: #999999;
    padding: 8;
    border-radius: 10;
    font-family: "Montserrat-SemiBold";
  
    &.failed {
      background-color: #e57373;
      color: #333333;
    }
  
    &.pending {
      background-color: #757575;
    }
  }
}

.me .message--bubble {
  background-color: #30A9FF;
  border-radius: 10 3 10 10; 
}

.them .message--bubble {
  color: #333333;
  background-color: #f0f0f0;
  border-radius: 3 10 10 10;
}

.author {
  border-radius: 100%;
  vertical-align: top;
  height: 30;
  width: 30;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin-right: 10;
  // verticalAlignment="top" height="30" width="30" alignItems="center" justifyContent="center" backgroundColor="blue"
}

.innerLabel {
  color: #ffffff;
  // align-self: center;
  // justify-self: center;
  // text-align: center;
  // vertical-align: center;
}

.error-text,
.error-icon {
  color: #ff5252;
}

.pending-icon {
  font-size: 32;
  color: #4face0;
}

.error-icon,
.pending-icon {
  font-size: 18;
}

.error-text {
  font-size: 14;
}

.authorimg {
  margin: 0 5 5 5;
  width: 30;
  height: 30;
  border-radius: 15;
}


.chatbox {
  // background-color: #30A9FF;

  .chatbox--wrap {
    // background-color: rgba(255, 0, 0, 0.3);
    margin-top: 1;
    border-top-width: 1;
    border-top-style: solid;
    border-top-color: #e4e4e4;
    // margin-bottom: 
    // padding-bottom: 10;
  }

  .chatbox--input {
    background-color: #e4e4e4;
    background-color: transparent;
    height: 45;
    margin-left: 10;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 0;
    border-bottom-style: solid;

    color: $text-light;
    placeholder-color: #aaaaaa;
  }

  .chatbox--btn {
    margin-right: 10;
    height: 45;
    border-radius: 0 4 4 0;

  }
}
