<GridLayout class="welcome-page-background" (swipe)="onSwipe($event)" rows="3*, *">

  <GridLayout #slideContent id="slide-content" row="0" rows="*">

    <!-- Slide 1 "Conversation" -->
    <GridLayout CreateConversationScreen
                col="0"
                style="opacity: 1"
                [active]="currentSlideIndex === 1">
    </GridLayout>

    <!-- Slide 2 "Wallet" -->
    <GridLayout WalletConversationScreen
                col="0"
                style="opacity: 0"
                [active]="currentSlideIndex === 2">
    </GridLayout>

    <!-- Slide 3 "Military" -->
    <GridLayout ShieldConversationScreen
                col="0"
                style="opacity: 0"
                [active]="currentSlideIndex === 3">
    </GridLayout>
  </GridLayout>

  <GridLayout row="2" rows="auto, *">
    <GridLayout #carouselSlider class="carousel-status" row="0" rows="*" columns="*, auto, *">
      <StackLayout  col="0"
                    [class.current]="currentSlideIndex === 1"
                    [class.complete]="currentSlideIndex > 1"
                    class="caro-item-dot"
                    verticalAlignment="center"
                    horizontalAlignment="right">
      </StackLayout>
      <StackLayout  col="1" 
                    [class.current]="currentSlideIndex === 2"
                    [class.complete]="currentSlideIndex > 2"
                    class="caro-item-dot"
                    verticalAlignment="center"
                    horizontalAlignment="center">
      </StackLayout>
      <StackLayout  col="2"
                    [class.current]="currentSlideIndex === 3"
                    class="caro-item-dot"
                    verticalAlignment="center"
                    horizontalAlignment="left">
    </StackLayout>
    </GridLayout>

    <GridLayout RoundButton
                class=""
                row="1"
                text="{{currentSlideIndex < 3 ? 'Continue' : 'Let\'s Go'}}"
                (tap)="onNextSlide()">
    </GridLayout>
  </GridLayout>

</GridLayout>
