@import "~/app-variables.scss";

/**
 * ODIN Features Base
 */
.welcome-page-background {
  background: $odin-white;
}

.skip-intro {
  width: 45%;
  border-width: 6;
  border-color:#FFC526;
  color:#0C7DA7;
  border-radius: 4;
  padding: 9 17;
}

.carousel-status {
  margin-top: 10;

  .caro-item-dot {
    background: url("~/app/images/pagination/next.png") no-repeat transparent;
    background-size: contain;
    height: 10;
    width: 10;
    margin-right: 10;
  
    &.current {
      background-image: url("~/app/images/pagination/current.png");
      height: 14;
      width: 14;
    }

    &.complete {
      background-image: url("~/app/images/pagination/complete.png");
      height: 16;
      width: 16;
    }
  }  
}
