<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" [gesturesEnabled]="userAccount.registered">

  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
      <Image src="https://placem.at/people?random=11&w=500&h=500&txt=0" class="sidedrawer-avatar" ></Image>
      <Label class="sidedrawer-header-text var" [text]="userAccount.hashAccount"></Label>
    </StackLayout>

    <ScrollView row="1">
      <StackLayout class="sidedrawer-content">
        
        <StackLayout class="hr-light"></StackLayout>
        
        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Home" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
          <Label row="0" col="0" text="&#xf015;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Home" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Friends" [class.selected]="isComponentSelected('/browse')" (tap)="onNavItemTap('/browse')">
          <Label row="0" col="0" text="&#xf007;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Browse" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="To-Do List" [class.selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
          <Label row="0" col="0" text="&#xf0ca;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Search" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="To-Do List" [class.selected]="isComponentSelected('/splashscreen')" (tap)="onNavItemTap('/splashscreen')">
          <Label row="0" col="0" text="&#xf0ca;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Splashscreen" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Settings" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
          <Label row="0" col="0" text="&#xf013;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Settings" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
