<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" [gesturesEnabled]="userAccount?.registered">

  <GridLayout tkDrawerContent rows="auto, *, 50" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
      <FlexboxLayout class="client-name">
        <Label class="innerLabel" text="{{ userAccount?.username[0] }}"></Label>
      </FlexboxLayout>
      <!-- <Label class="innerLabel bold" text="ME"></Label> -->
      <Label class="sidedrawer-header-text var" [text]="userAccount?.username" (tap)="onCopyText(userAccount?.username)" (longPress)="onCopyText(userAccount?.username)"></Label>
    </StackLayout>

    <ScrollView row="1">
      <StackLayout class="sidedrawer-content">
        
        <StackLayout class="hr-light"></StackLayout>
        
        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Messages" [class.selected]="isComponentSelected('/messenger')" (tap)="onNavItemTap('/messenger')">
          <Label row="0" col="0" text="&#xf086;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Messages" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Wallet" [class.selected]="isComponentSelected('/wallet')" (tap)="onNavItemTap('/wallet')">
          <Label row="0" col="0" text="&#xf555;" class="fas sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Wallet" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>
        
        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Settings" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
          <Label row="0" col="0" text="&#xf013;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Settings" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Help" [class.selected]="isComponentSelected('/help')" (tap)="onNavItemTap('/help')">
          <Label row="0" col="0" text="&#xf129;" class="fas sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Help" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>
        
      </StackLayout>
    </ScrollView>

    <FlexboxLayout class="version" row="2">
      <Label class="version--text" text="v0.2.0"></Label>
    </FlexboxLayout>
  </GridLayout>

  <StackLayout tkMainContent class="app-view">
    <Label class="no-connection" *ngIf="initAttempts >= 4">
      <FormattedString>
        <Span class="fa" text="&#xf12a;   "></Span>
        <Span text="UNABLE TO BOOT"></Span>
      </FormattedString>
    </Label>

    <Label class="no-connection" *ngIf="['unknown', 'none'].includes(networkState)">
      <FormattedString>
        <Span class="fa" text="&#xf12a;&nbsp;&nbsp;"></Span>
        <Span text="LIMITED NETWORK DETECTED"></Span>
      </FormattedString>
    </Label>

    <Label class="no-connection" *ngIf="osmServerError">
      <FormattedString>
        <Span class="fa" text="&#xf12a;&nbsp;&nbsp;"></Span>
        <Span text="LIMITED MESSAGE CONNECTION"></Span>
      </FormattedString>
    </Label>

    <page-router-outlet class="app-view"></page-router-outlet>
  </StackLayout>
</RadSideDrawer>
