<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" [gesturesEnabled]="userAccount.registered">

  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
      <FlexboxLayout class="client-name">
        <Label class="innerLabel bold" text="{{ userAccount.hashAccount[0] }}"></Label>
      </FlexboxLayout>
      <!-- <Label class="innerLabel bold" text="ME"></Label> -->
      <Label class="sidedrawer-header-text var" [text]="userAccount.hashAccount"></Label>
    </StackLayout>

    <ScrollView row="1">
      <StackLayout class="sidedrawer-content">
        
        <StackLayout class="hr-light"></StackLayout>
        
        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Messages" [class.selected]="isComponentSelected('/messages')" (tap)="onNavItemTap('/messages')">
          <Label row="0" col="0" text="&#xf086;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Messages" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Wallet" [class.selected]="isComponentSelected('/wallet')" (tap)="onNavItemTap('/wallet')">
          <Label row="0" col="0" text="&#xf555;" class="fas sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Wallet" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>
        
        <StackLayout class="hr-light"></StackLayout>

        <GridLayout columns="auto, *" class="sidedrawer-list-item" title="Settings" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
          <Label row="0" col="0" text="&#xf013;" class="fa sidedrawer-icon"></Label>
          <Label row="0" col="1" text="Settings" class="m-l-20 sidedrawer-item"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <StackLayout tkMainContent>
    <Label *ngIf="userAccount.osmConnected" class="no-connection">
      <FormattedString>
        <Span class="fa" text="&#xf12a;   "></Span>
        <Span text="NOT CONNECTED"></Span>
      </FormattedString>
    </Label>
    <page-router-outlet class="page page-content"></page-router-outlet>
  </StackLayout>
</RadSideDrawer>
