@import "~/app-variables.scss";
@import "../carousel-grid.scss";

@keyframes shieldFloating {
  0% {
    transform: translate(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -15, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shieldShadow {
  0% {
    transform: scale(1) translate3d(0, 90, 0);
  }
  50% {
    transform: scale(0.7) translate3d(0, 90, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 90, 0);
  }
}

.odin-shield {
  .shield {
    height: 180;
    animation-name: shieldFloating;
    // animation-delay: 164;
    animation-duration: 4s;
    // animation-fill-mode: forwards;
    // animation-timing-function: linear;

    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .shadow {
    width: 100;
    transform: translate3d(0, 90, 0);

    animation-name: shieldShadow;
    // animation-delay: 164;
    animation-duration: 4s;
    // animation-fill-mode: forwards;
    // animation-timing-function: linear;

    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
