@import "~/app-variables.scss";

.view {
  background-color: $odin-green;

  .header {
    background-color: $odin-green;
  }

  .screen {
    border-radius: 0 50% 0 0;
    background-color: $odin-dark;
  }
  
  .container {
    padding-left: 20;
    padding-right: 20;
  }

  .friend {
    width: 150;
    transform: translate3d(0, -25, 0);
  }
}
