<ActionBar class="action-bar">
  <NavigationButton class="action-bar--button" android.systemIcon="ic_menu_revert" ios:visibility="collapsed" (tap)="onPreviousView()"></NavigationButton>
  <ActionItem class="action-bar--item" android.systemIcon="ic_menu_save" (tap)="onAddContact(contact)"
      android.position="right" >
  </ActionItem>
  <Label class="action-bar--title" text="Edit Contact"></Label>
</ActionBar>

<FlexboxLayout [class.disabled]="processing" class="page page-content">
  <StackLayout width="80%">

    <StackLayout row="0" class="form input-field">
      <Label text="ODIN Identity*" class="label bold u-font-size-md"></Label>
      <TextField [isEnabled]="!processing" [(ngModel)]="contact.username" hint="XYZ123@ODIN..." class="input input-border regular"></TextField>
    </StackLayout>

    <StackLayout row="1" class="form input-field">
      <Label text="Display Name" class="label bold u-font-size-md"></Label>
      <TextField [isEnabled]="!processing" [(ngModel)]="contact.displayName" hint="Optional display name..." class="input input-border regular"></TextField>
    </StackLayout>

    <Button [class.isEnabled]="!processing" row="2" text="Add Contact" (tap)="onAddContact(contact)" class="btn btn-primary"></Button>

    <ActivityIndicator class="activity-indicator" [busy]="processing"></ActivityIndicator>

  </StackLayout>
</FlexboxLayout>
  
  