<GridLayout class="page" [rows]="gridLayout.rows" columns="*">
  <ContentView row="0" class="summary">
    <StackLayout *ngIf="currentWallet && !smallScreen" orientation="vertical" verticalAlignment="center">
      <Label flexGrow="1" class="label" text="Balance"></Label>
      <Label flexGrow="1" class="balance">
        <FormattedString>
          <Span [text]="currentWallet.balance_conf | satoshiValueConverter"></Span>
          <Span text=" {{currentWallet.coin.label}}"></Span>
        </FormattedString>
      </Label>
      <Label flexGrow="1" class="blockheight">
        <FormattedString>
          <Span text="Block: "></Span>
          <Span [text]="blockheight"></Span>
        </FormattedString>
      </Label>
    </StackLayout>

    <StackLayout *ngIf="!currentWallet" orientation="vertical" verticalAlignment="center">
      <Label flexGrow="1" class="label" text="Balance"></Label>
      <Label flexGrow="1" class="balance">
        <FormattedString>
          <Span text="—"></Span>
        </FormattedString>
      </Label>
      <Label flexGrow="1" class="blockheight">
        <FormattedString>
          <Span text="Block: "></Span>
          <Span text="—"></Span>
        </FormattedString>
      </Label>
    </StackLayout>
  </ContentView>
  
  <StackLayout row="1" class="transactions">
    <ContentView class="header">
      <Label class="h2" text="Transactions"></Label>
    </ContentView>

    <RadListView class="wallets" [items]="transactions">
      <ng-template tkListItemTemplate let-item="item" let-i="index">
        <ContentView class="transaction" (tap)="this.onTap(item)">
          <GridLayout rows="50" columns="45,auto,*">

            <FlexboxLayout *ngIf="item.isTypeReceived()" col="0" class="transaction--icon received">
              <Image class="icon" src="res://incoming_white"></Image>
            </FlexboxLayout>
            <FlexboxLayout *ngIf="item.isTypeSent()" col="0" class="transaction--icon sent">
              <Image class="icon" src="res://outgoing_white"></Image>
            </FlexboxLayout>
            <FlexboxLayout *ngIf="item.isTypePending()" col="0" class="transaction--icon pending">
              <Image class="icon" src="res://more_white"></Image>
            </FlexboxLayout>
            <FlexboxLayout *ngIf="item.isTypeSelf()" col="0" class="transaction--icon self">
              <Label text="@"></Label>
            </FlexboxLayout>

            <ContentView col="1" class="transaction--meta">
              <StackLayout verticalAlignment="center">
                <Label *ngIf="item.isTypeReceived()" class="transaction--label" text="Received ODIN"></Label>
                <Label *ngIf="item.isTypeSent()" class="transaction--label" text="Sent ODIN"></Label>
                <Label *ngIf="item.isTypeSelf()" class="transaction--label" text="Sent ODIN"></Label>
                <Label *ngIf="item.isTypePending()" class="transaction--label" text="Pending Transaction"></Label>
                <Label *ngIf="!item.isTypePending()">
                  <FormattedString>
                    <Span class="transaction--label" [text]="item.timestamp | relativeTime"></Span>
                    <Span *ngIf="!smallScreen" class="transaction--label" [text]="displayBlockConf(item)"></Span>
                  </FormattedString>
                </Label>
              </StackLayout>
            </ContentView>

            <ContentView col="2" class="transaction--amount">
              <Label verticalAlignment="center" textWrap="true" [text]="item.value | txValueFormatter"></Label>
            </ContentView>
          </GridLayout>
        </ContentView>
      </ng-template>
    </RadListView>
  </StackLayout>
</GridLayout>
