<GridLayout class="page" rows="80,*" columns="*">

  <!-- <FlexLayout row="0" class="summary" flexWrap="wrap"> -->
  <ContentView row="0" class="summary">
    <StackLayout *ngIf="currentWallet" orientation="vertical" verticalAlignment="center">
      <Label flexGrow="1" class="label" text="Balance"></Label>
      <Label flexGrow="1" class="balance">
        <FormattedString>
          <Span [text]="currentWallet.balance.confirmed | satoshiValueConverter"></Span>
          <Span text=" {{currentWallet.coin.coin}}"></Span>
        </FormattedString>
      </Label>
      <Label flexGrow="1" class="blockheight">
        <FormattedString>
          <Span text="Block: "></Span>
          <Span [text]="chainState?.blockheight"></Span>
        </FormattedString>
      </Label>
    </StackLayout>
  </ContentView>
  <!-- </FlexLayout> -->
  
  <ScrollView row="1" class="overview">
    <GridLayout rows="170, *">

      <WalletSelection row="0" [selectedWallet]="selectedWalletId" (walletSelected)="proxyWalletSelection($event)"></WalletSelection>

      <GridLayout row="1" class="sub-scroll" rows="*">
        <ContentView row="0" class="transactions">
          <StackLayout *ngIf="currentWallet">
            <Label class="header" text="Transactions"></Label>
            
            <ContentView class="transaction" *ngFor="let transaction of currentWallet.transactions; index as i;">
              <GridLayout rows="50" columns="45,auto,*">

                <FlexboxLayout *ngIf="transaction.received" col="0" class="transaction--icon received">
                  <Image class="icon" src="res://incoming_white"></Image>
                </FlexboxLayout>
                <FlexboxLayout *ngIf="transaction.sent" col="0" class="transaction--icon sent">
                  <Image class="icon" src="res://outgoing_white"></Image>
                </FlexboxLayout>
                <FlexboxLayout *ngIf="transaction.pending" col="0" class="transaction--icon pending">
                  <Image class="icon" src="res://more_white"></Image>
                </FlexboxLayout>

                <ContentView col="1" class="transaction--meta">
                  <StackLayout verticalAlignment="center">
                    <Label *ngIf="transaction.received" class="transaction--label" text="Received ODIN"></Label>
                    <Label *ngIf="transaction.sent" class="transaction--label" text="Sent ODIN"></Label>
                    <Label *ngIf="transaction.pending" class="transaction--label" text="Pending Transaction"></Label>
                    <Label>
                      <FormattedString>
                        <Span class="transaction--label" [text]="transaction.timestamp"></Span>
                        <Span class="transaction--label" text=" | "></Span>
                        <Span class="transaction--label" [text]="transaction.blockheight | transactionConfirmations"></Span>
                      </FormattedString>
                    </Label>
                  </StackLayout>
                </ContentView>

                <ContentView col="2" class="transaction--amount">
                  <Label verticalAlignment="center" textWrap="true" [text]="transaction.value"></Label>
                </ContentView>
              </GridLayout>
            </ContentView>

            <!-- <ContentView class="transaction">
              <GridLayout rows="50" columns="45,auto,*">
                <FlexboxLayout col="0" class="transaction--icon received">
                  <Image class="icon" src="res://incoming_white"></Image>
                </FlexboxLayout>

                <StackLayout col="1" class="transaction--meta">
                  <Label class="transaction--label" text="something tx 1"></Label>
                  <Label>
                    <FormattedString>
                      <Span class="transaction--timestamp" text="15 min ago"></Span>
                      <Span class="transaction--conf" text=" | 1 conf"></Span>
                    </FormattedString>
                  </Label>
                </StackLayout>

                <ContentView col="2" class="transaction--amount">
                  <Label textWrap="true" text="222,222,222.29238236"></Label>
                </ContentView>
              </GridLayout>
            </ContentView> -->

            <!-- <ContentView class="transaction last">
              <GridLayout rows="50" columns="45,auto,*">
                <FlexboxLayout col="0" class="transaction--icon sent">
                  <Image class="icon" src="res://outgoing_white"></Image>
                </FlexboxLayout>

                <StackLayout col="1" class="transaction--meta">
                  <Label class="transaction--label" text="something tx 1"></Label>
                  <Label>
                    <FormattedString>
                      <Span class="transaction--timestamp" text="15 min ago"></Span>
                      <Span class="transaction--conf" text=" | 1 conf"></Span>
                    </FormattedString>
                  </Label>
                </StackLayout>

                <ContentView col="2" class="transaction--amount">
                  <Label textWrap="true" text="222,222,222.29238236"></Label>
                </ContentView>
              </GridLayout>
            </ContentView> -->

          </StackLayout>
        </ContentView>
      </GridLayout>
      
    </GridLayout>
  </ScrollView>
  
</GridLayout>
