<FlexboxLayout class="page">
  <StackLayout class="form u-w100">
    <Image class="logo" src="~/app/images/splashscreen-logo--websafe.png" ></Image>

    <Label class="header" text="OSM"></Label>
    <Label class="sub-header">
      <FormattedString>
        <Span text="Alpha Release (v0.1.0)"></Span>
      </FormattedString>
    </Label>

    <StackLayout class="u-w80">
      <Button text="Import Account" class="btn btn-primary" (tap)="onImport()" pageTransition="slideRight"></Button>

      <Button text="Create Account" class="btn btn-primary" [nsRouterLink]="['/create']" pageTransition="slideLeft"></Button>
    </StackLayout>
  </StackLayout>
</FlexboxLayout>
