@import '~/app-variables';

.page {
  align-items: center;
  flex-direction: column;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 10;
  text-align: center;

  span {
    border: 3 solid #000000;
  }
}

.sub-header {
  horizontal-align: center;
  font-size: 16;
  font-weight: normal;
  margin-bottom: 40;
  text-align: right;
}

.btn {
  margin-top: 30;
}
