<ActionBar class="action-bar">
  <NavigationButton class="action-bar--button" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem class="action-bar--item" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
      ios.position="left">
  </ActionItem>
  <ActionItem text="Add Contact" ios.position="popup" android.position="popup" (tap)="onAddContact()"></ActionItem>
  <Label class="action-bar--title" text="Messages"></Label>
</ActionBar>

<GridLayout rows="*, auto" columns="*">
  <GridLayout row="0" rows="*">
    <ScrollView #scrollView row="0" scrollBarIndicatorVisible="true">
      <StackLayout>
        <StackLayout>
          <ScrollView #userList row="1" scrollBarIndicatorVisible="false" id="userList">
            <StackLayout>

              <Label text="NO CONTACTS ADDED" class="bold p15 u-font-size-sm" color="#374064"></Label>

              <GridLayout class="contact" rows="*, auto" columns="*" (touch)="onTouchContact($event)">
                <GridLayout class="contact--wrap" rows="auto, auto" columns="auto, *, auto">
                  <Label class="contact--name regular" row="0" col="1" text="user111@ODN"></Label>
                  <Label class="contact--meta light" row="1" col="1" text="metadata"></Label>
                  <!-- <Label class="contact--action pb" row="0" col="2" rowSpan="2" text="g"></Label> -->
                </GridLayout>
              </GridLayout>

              <GridLayout class="contact" rows="auto" columns="*" (touch)="onTouchContact($event)">
                <GridLayout class="contact--wrap" rows="auto, auto" columns="auto, *, auto">
                  <!-- <Image class="contact--image" row="0" col="0" rowSpan="2" src="https://via.placeholder.com/150"></Image> -->
                  <Label class="contact--name regular" row="0" col="1" text="user111@ODN"></Label>
                  <Label class="contact--meta light" row="1" col="1" text="metadata"></Label>
                  <!-- <Label class="contact--action pb" row="0" col="2" rowSpan="2" text="g"></Label> -->
                </GridLayout>
              </GridLayout>

            </StackLayout>
          </ScrollView>
        </StackLayout>

        
      </StackLayout>
    </ScrollView>

    <!-- <StackLayout> -->
    <FAB row="1" (tap)="onAddContact()" text="+" icon="~/app/images/icon-plus--light.png" rippleColor="#f1f1f1" class="fab-button" swipeAnimation="slideDown" hideOnSwipeOfView="userList">
      
    </FAB>
    <!-- </StackLayout> -->

  </GridLayout>
</GridLayout>
