<ActionBar class="action-bar">
  <NavigationButton class="action-bar--button" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem class="action-bar--item" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
      ios.position="left">
  </ActionItem>
  <ActionItem text="Refresh Wallet" ios.position="popup" android.position="popup" (tap)="onRefreshWallet()"></ActionItem>
  <Label class="action-bar--title" text="Wallet"></Label>
</ActionBar>

<!-- <GridLayout class="page page-content">
  <Label class="page-icon fas" text="&#xf204;"></Label>
  <Label class="page-placeholder" text="Wallet Module Coming Soon!"></Label>
</GridLayout> -->

<GridLayout rows="*,auto">
  <TabView row="0" androidTabsPosition="bottom" [selectedIndex]="tabSelectedIndex" (loaded)="onTabsLoaded($event)">
      <ContentView *tabItem>
        <Send [selectedWalletId]="selectedWalletId" (walletSelected)="onWalletSelected($event)"></Send>
      </ContentView>

      <ContentView *tabItem>
        <Overview [selectedWalletId]="selectedWalletId" (walletSelected)="onWalletSelected($event)"></Overview>
        <!-- <Button height="50" width="200" text="{{ lightBar ? 'dark' : 'light' }}" (tap)="switchView()"></Button> -->
      </ContentView>

      <ContentView *tabItem>
        <Receive [selectedWalletId]="selectedWalletId" (walletSelected)="onWalletSelected($event)"></Receive>
      </ContentView>
  </TabView>

  <GridLayout row="1" columns="*,*,*" class="tab-view">
      <!-- <Label col="0" class="mdi text-center" [class.active]="tabSelectedIndex === 0"
          [text]="'mdi-view-dashboard'" (tap)="tabSelectedIndex = 0"></Label> -->
      <StackLayout col="0" class="tab--item" [class.active]="tabSelectedIndex === 0" (tap)="tabSelectedIndex = 0">
        <Image class="tab--item--icon" src="res://send_white" height="24"></Image>
        <Label class="tab--item--label" text="Send"></Label>
      </StackLayout>

      <StackLayout col="1" class="tab--item" [class.active]="tabSelectedIndex === 1" (tap)="tabSelectedIndex = 1">
        <Image class="tab--item--icon" src="res://grid_white" height="24"></Image>
        <Label class="tab--item--label" text="Home"></Label>
      </StackLayout>

      <StackLayout col="2" class="tab--item" [class.active]="tabSelectedIndex === 2" (tap)="tabSelectedIndex = 2">
        <Image class="tab--item--icon" src="res://receive_white" height="24"></Image>
        <Label class="tab--item--label" text="Receive"></Label>
      </StackLayout>
  </GridLayout>
</GridLayout>
