<ActionBar class="action-bar">
  <NavigationButton class="action-bar--button" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem class="action-bar--item" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
      ios.position="left">
  </ActionItem>
  <ActionItem text="Refresh Wallet" ios.position="popup" android.position="popup" (tap)="onRefreshWallet()"></ActionItem>
  <Label class="action-bar--title" text="Wallet"></Label>
</ActionBar>

<!-- rows="auto, 170, *, auto" -->
<GridLayout
  [rows]="gridLayout.rows"
  #gridLayoutRef
  (layoutChanged)="updateLayout()">

  <FlexboxLayout row="0" class="walletNoticeBar"[class.warning]="warningActive" [class.notice]="noticeActive">
    <ActivityIndicator *ngIf="noticeActive" class="activity-indicator" [busy]="noticeActive"></ActivityIndicator>
    <Label *ngIf="warningActive" textWrap="true" [text]="warningContent"></Label>
    <Label *ngIf="noticeActive" textWrap="true" [text]="noticeContent"></Label>
  </FlexboxLayout>

  <StackLayout row="1" orientation="horizontal" class="wallet-section--container">
    <WalletSelection [selectedWallet]="selectedWalletId" (walletSelected)="onWalletSelected($event)" ></WalletSelection>
  </StackLayout>

  <TabView row="2" class="tabView" androidTabsPosition="bottom" [selectedIndex]="tabSelectedIndex" (loaded)="onTabsLoaded($event)" androidOffscreenTabLimit="4">
    <ContentView class="tabItemView" [class.loading]="!walletReady" *tabItem>
      <Send [currentWallet]="selectedWallet"
            [sendTransactionFn]="onSendTransaction">
      </Send>
    </ContentView>

    <ContentView class="tabItemView" [class.loading]="!walletReady" *tabItem>
      <Overview [transactions]="selectedWallet?.transactions$"
                [blockheight]="trackedBlockheight"
                [currentWallet]="selectedWallet"
                [smallScreen]="isLimitedView">
      </Overview>
    </ContentView>

    <ContentView class="tabItemView" [class.loading]="!walletReady" *tabItem>
      <Receive  [addresses]="selectedWallet?.addresses$"
                (requestNewAddress)="handleRequestNewAddress($event)">
      </Receive>
    </ContentView>
  </TabView>

  <GridLayout row="3" columns="*,*,*" class="tab-view">
    <StackLayout col="0" class="tab--item" [class.active]="tabSelectedIndex === 0" (tap)="tabSelectedIndex = 0">
      <Image class="tab--item--icon" src="res://send_white" height="24"></Image>
      <Label class="tab--item--label" text="Send"></Label>
    </StackLayout>

    <StackLayout col="1" class="tab--item" [class.active]="tabSelectedIndex === 1" (tap)="tabSelectedIndex = 1">
      <Image class="tab--item--icon" src="res://grid_white" height="24"></Image>
      <Label class="tab--item--label" text="Home"></Label>
    </StackLayout>

    <StackLayout col="2" class="tab--item" [class.active]="tabSelectedIndex === 2" (tap)="tabSelectedIndex = 2">
      <Image class="tab--item--icon" src="res://receive_white" height="24"></Image>
      <Label class="tab--item--label" text="Receive"></Label>
    </StackLayout>
  </GridLayout>
</GridLayout>
