<GridLayout class="page" rows="*" columns="*">
  
  <ScrollView row="1" class="overview">

    <FlexboxLayout class="view">

      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Recipient address"></Label>
          <Label class="body help" textWrap="true" text="Enter the blockchain address where you would like to send an amount of ODIN to."></Label>
          <TextField textWrap="true" [(ngModel)]="transactionDetails.address" returnKeyType="next" class="input input-border" hint="Enter an ODIN Address..."></TextField>
        </StackLayout>
      </ContentView>

      <ContentView class="card">
        <StackLayout class="card-content">
          <Label class="h2" textWrap="true" text="Amount to send"></Label>
          <Label class="body help" textWrap="true" text="Enter the amount of ODIN to send to the above address."></Label>
          <TextField textWrap="true" [(ngModel)]="transactionDetails.amount" returnKeyType="done" (returnPress)="onReturnPress($event)" (focus)="onAmountFocus()" class="input input-border" hint="ODIN Amount..." keyboardType="number"></TextField>
        </StackLayout>
      </ContentView>

      <ContentView class="actions">
        <StackLayout class="actions">
          <Button class="btn btn-primary" text="Send Transaction" (tap)="onReturnPress($event)"></Button>
        </StackLayout>
      </ContentView>

    </FlexboxLayout>
      
  </ScrollView>
  
</GridLayout>
