<ActionBar class="action-bar">
  <NavigationButton class="action-bar--button" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem class="action-bar--item" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label class="action-bar--title" text="ODIN Messenger Settings"></Label>
</ActionBar>

<GridLayout class="page page-content">
  <ScrollView>
    <StackLayout class="form input-field">

      <Label text="ODIN-Server" class="heading"></Label>
      <Label text="This is the current ODIN-Server instance you are communicating with." class="hint" textWrap="true"></Label>
      <TextField [(ngModel)]="preferences?.api_url" hint="ODIN-Server URL..." class="input input-border"></TextField>
      <StackLayout orientation="horizontal" horizontalAlignment="center">
        <Button text="Update" (tap)="onUpdate()" class="btn btn-primary"></Button>
      </StackLayout>

      <StackLayout class="hr-light"></StackLayout>

      <Label text="Remote Tokens" class="heading"></Label>
      <Label text="These are one-time use public tokens stored on the ODIN-Server that others can use to communicate with you." class="hint" textWrap="true"></Label>
      <TextField class="input input-border" [text]="user.get('remotePreKeyBundles')" editable="false"></TextField>

      <StackLayout class="hr-light"></StackLayout>
  
      <Label text="If your remote tokens count is low, you'll need to publish new tokens to the ODIN-Server. Publishing new tokens does not invalidate previous ones." class="hint" textWrap="true"></Label>
      <Button text="Publish New Tokens" (tap)="onPublishTokens()" class="btn btn-primary"></Button>

      <StackLayout class="hr-light"></StackLayout>

      <Label text="Wipe your local ODIN Session. ODIN Session importing is currently not supported yet, use at your own risk." class="hint" textWrap="true"></Label>
      <Button text="Clear ODIN Session" (tap)="onClearSession()" class="btn btn-primary"></Button>
    </StackLayout>
  </ScrollView>
</GridLayout>
