.page-content {
  padding: 15;
}

.description-label {
  margin-bottom: 15;
}

.btn {
  font-size: 18;
}

.lbl {
  margin-bottom: 20;
}

.heading {
  font-size: 20;
  font-family: "Montserrat-SemiBold";
}

.input {
  margin: 10;
}

.hr-light {
  margin: 10;
}
